html,body{
    width: 100%;
    visibility: visible !important;
}
html,body,ul,li{
    margin:0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
button{
    color: green;
    font-size: 30px;
}
.topbar{
    background-color: #1070bc;
    height: 56px;
    position: relative;
}
.topbar .logo{
    float: left;
}
.topbar .logo a img{
    height: 36px;
    margin: 10px 0 0 24px;
}
.topbar .rightbar{
    float: right;
}


.topbar .rightbar .btns ul li{
    float: left;
    margin: 8px 5px 0px 10px;
    background-color: rgb(51,133,198);
    line-height: 48px;
    font-size:14px;
    border-radius: 5px 5px 0 0 ;
}
.topbar .rightbar .btns a{
    text-decoration: none;
    display: block;
    padding: 0px 10px;
    color:white;
}
.topbar .rightbar .btns a:hover{
    background-color: white;
    color:rgb(11,119,205);
    border-radius: 5px 5px 0 0 ;
}
.isActive{
    background-color: white;
    color:rgb(11,119,205)!important;
    border-radius: 5px 5px 0 0 ;
    font-size: 16px;
}